[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bandit = "*"
black = "*"
boto3-stubs = {extras = ["essential"], version = "*"}
flake8 = "*"
coveralls = "*"
lxml-stubs = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
PyYAML = "*"
pyftpdlib = "*"
pyopenssl = "*"
ruff = "*"


[packages]
boto3 = "*"
click = "*"
lxml = "*"
oracledb = "*"
SQLAlchemy = "*"

sentry-sdk = "*"

[requires]
python_version = "3.11"

[scripts]
carbon = "python -c \"from carbon.cli import main; main()\""