[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coveralls = "*"
pytest = "*"
pytest-cov = "*"
PyYAML = "*"
pyftpdlib = "*"
pyopenssl = "*"
flake8 = "*"

[packages]
click = "*"
lxml = "*"
SQLAlchemy = "*"
oracledb = "*"
"boto3" = "*"

[requires]
python_version = "3.11"

[scripts]
patronload = "python -c \"from carbon.cli import main; main()\""